.github
.gitignore
.dockerignore
Dockerfile.base
LICENSE
README.md
assets
docker-compose.yml
pyproject.toml

api/Dockerfile
bot/Dockerfile
bot/config-example.yml
bot/*.session
bot/*.session-journal
worker/Dockerfile
